<!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="all"/>

    <script th:src="@{//code.jquery.com/jquery-1.11.3.min.js}"></script>

    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>



    <style>

        .uni img{
            float:left;
            width:393px;
            padding: 62px 0px 0px 0px;
        }

        .page-header{
            border-bottom:1px dashed;
            border-bottom-color: #FF7711;
        }

    </style>

    <title>Artikel Teil 1</title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="">
                        <img src="images/uni-bielefeld.gif"/>
                    </div>
                </div>
                <div class="uni col-sm-7 col-md-7 col-lg-7">
                    <div class="uni">
                        <img src="images/claim.gif"/>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="">
                        <img src="images/bmbf.png" class="img-responsive img-rounded" alt="Responsive image"/>
                    </div>
                </div>
            </div>
        </div>
        <h2>Überfliegen sie diesen Artikel. Würden sie diesen Artikel in einer aktuellen Ausgabe der NW lesen?</h2>

        <div class="row">

            <div class="embed-responsive embed-responsive-16by9 col-sm-6 col-md-6 col-ld-6">

                <!--<div class="article" th:with="url='http://docs.google.com/gview?url=http://ftp.forschungsdatenmanagement.org/nw/nw-xml-export/2014-01-13/entpackt/' + ${article.artikelPdf} + '&amp;embedded=true'">
                    <iframe class="embed-responsive-item" th:src="${url}" frameborder="0"></iframe>
                </div>-->
                
                <!--<div class="article" th:with="url='sources/bela.pdf'">
                    <iframe class="embed-responsive-item" th:src="${url}" frameborder="0"></iframe>
                </div>-->
                
                <!--<div class="article" th:with="url='sources/'+ ${article.artikelPdf}">-->
                    <!--<iframe class="embed-responsive-item" th:src="${url}" frameborder="0"></iframe>-->
                <!--</div>-->

                <div class="article" th:with="url='http://sc-kognihome.techfak.uni-bielefeld.de/nw_resources/pdf/'+ ${article.artikelPdf}">
                    <iframe class="embed-responsive-item" th:src="${url}" frameborder="0"></iframe>
                </div>

                <!--style="width:700px; height:600px;" frameborder="0"-->
            </div>
            <div class="col-sm-6 col-md-6 col-ld-6">
                <div class="progress" >
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${progress} + '%'">
                    </div>
                </div>
                <form name="radioForm" action="#" th:action="@{/articles}" th:object="${tmpData}" method="post">
                    <div  class="radio">
                        <label>
                            <input type="radio" th:field="*{preference}"  th:value="1" required="required"/>
                            Ja, auf jeden Fall
                        </label>
                    </div>
                    <div  class="radio">
                        <label>
                            <input type="radio" th:field="*{preference}" th:value="2" required="required"/>
                            Ja, wenn ich genügend Zeit hätte
                        </label>
                    </div>
                    <div  class="radio">
                        <label>
                            <input type="radio" th:field="*{preference}" th:value="3" required="required"/>
                            Eher nicht
                        </label>
                    </div>
                    <div  class="radio">
                        <label>
                            <input type="radio" th:field="*{preference}" th:value="4" required="required"/>
                            Auf keinen Fall
                        </label>
                    </div>
                    <input type="hidden" th:field="*{minIndex}" th:value="${tmpData.getMinIndex()}" />
                    <input type="hidden" th:field="*{currentIndex}" th:value="${tmpData.getCurrentIndex()}" />
                    <input type="hidden" th:field="*{maxIndex}" th:value="${tmpData.getMaxIndex()}" />
                    <div class="form-group">
                        <div class="">
                            <input type="submit" class="btn btn-default" value="Weiter" />
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>


    <script type="text/javascript">
        var inp = document.getElementsByTagName('input');
        for (var i = inp.length-1; i>=0; i--) {
            if ('radio'===inp[i].type) inp[i].checked = false;
        }
    </script>

</body>
</html>