<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />


    <title>Start eines neuen Experiments</title>

    <style>

        .uni img{
            float:left;
            width:393px;
            padding: 62px 0px 0px 0px;
            /*vertical-align:bottom;*/
            /*border:0;*/
        }

        .page-header{
            border-bottom:1px dashed;
            border-bottom-color: #FF7711;
        }

        th {
            text-align: center;
            vertical-align: middle;
        }

        .radiobtn-td{
            text-align: center;
            vertical-align: middle;
        }

    </style>

</head>
<body>

    <div class="container theme-showcase">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div class="">
                        <!--<img th:src="@{/resources/images/banner-graphic.png}"-->
                        <img src="images/uni-bielefeld.gif"/>
                        <!--<img src="images/uni-bielefeld.gif"/>-->
                    </div>
                </div>
                <div class="uni col-sm-7 col-md-7 col-lg-7">
                    <div class="uni">
                        <img src="images/claim.gif"/>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <div class="">
                        <img src="images/citec.gif"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="page-header">
                <h1>
                    Bitte geben Sie im Folgenden Ihre Daten ein
                </h1>
            </div>
        </div>

        <form class="form-horizontal" action="#" th:action="@{/registration}" th:object="${proband}" method="post">

            <div class="form-group">
                <label for="inputSex" class="col-sm-2 control-label">Geschlecht</label>
                <div class="col-sm-10">
                    <select name="Geschlecht" th:field="*{sex}" class="form-control" id="inputSex">
                        <Option value="Männlich">Männlich</Option>
                        <Option value="Weiblich">Weiblich</Option>
                        <Option value="Keine Angabe">Keine Angabe</Option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputAge" class="col-sm-2 control-label">Alter</label>
                <div class="col-sm-10">
                    <input type="number" min="3" max="120" pattern="\d+" required="required" th:field="*{age}" class="form-control" id="inputAge" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputInterests" class="col-sm-2 control-label">Interessen</label>
                <div class="col-sm-7">
                    <input type="textarea" th:field="*{interests}" class="form-control" id="inputInterests" />
                </div>
                <div class="col-sm-3">
                    <p class="help-block">(Bitte durch Komma trennen)</p>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPostalCode" class="col-sm-2 control-label">Postleitzahl</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{postalCode}" class="form-control" id="inputPostalCode" pattern="([0-9]){5}" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputGraduation" class="col-sm-2 control-label">Schulabschluss (optional)</label>
                <div class="col-sm-10">
                    <select name="graduation" th:field="*{graduation}" class="form-control" id="inputGraduation" >
                        <Option value="Mittlere Reife">Mittlere Reife</Option>
                        <Option value="Abitur">Abitur</Option>
                        <Option value="Hochschulabschluss">Hochschulabschluss</Option>
                        <Option value="Sonstiges">Sonstiges</Option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="inputRubrik" class="col-sm-2 control-label">Welche Ausgabe interessiert Sie am meisten?</label>
                <div class="col-sm-10">
                    <select name="rubrik" th:field="*{rubrik}" class="form-control" id="inputRubrik" >
                        <Option value="101-BI-MW">Bielefeld</Option>
                        <Option value="102-BI-MO">Bielefeld mit Oerlingh-Leopoldsh.</Option>
                        <Option value="107-BI-SH">Schloß-Holte Stukenbrock</Option>
                        <Option value="120-GT">Gütersloh</Option>
                        <Option value="121-VE">Verl</Option>
                        <Option value="124-HE">Herford</Option>
                        <Option value="128-ES">Enger-Spenge</Option>
                        <Option value="130-BD">Bünde</Option>
                        <Option value="132-OE">Bad Oeynhausen</Option>
                        <Option value="136-LN">Löhne und Gohfeld</Option>
                        <Option value="138-LK">Lübbecke (Altkreis)</Option>
                        <Option value="142-PA">Paderborn (Kreis)</Option>
                        <Option value="144-HT">Höxter (Kreis)</Option>
                        <Option value="146-WA">Warburg</Option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <h3>Bitte beurteilen Sie folgende Aussagen:</h3>
                <p>Ich interessiere mich für Artikel aus dem Bereich ...
                </p>
                <!--<p>-->

                <div class="container">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Trifft voll zu</th>
                                <th>Trifft eher zu</th>
                                <th>Neutral</th>
                                <th>Trifft eher nicht zu</th>
                                <th>Tifft gar nicht zu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Politik</td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInPolitics}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInPolitics}" th:value="4" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInPolitics}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInPolitics}" th:value="2" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInPolitics}" th:value="1" required="required"/></td>
                            </tr>
                            <tr>
                                <td>Kultur</td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInCulture}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInCulture}" th:value="4" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInCulture}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInCulture}" th:value="2" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInCulture}" th:value="1" required="required"/></td>
                            </tr>
                            <tr>
                                <td>Lokales</td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalArticles}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalArticles}" th:value="4" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalArticles}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalArticles}" th:value="2" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalArticles}" th:value="1" required="required"/></td>
                            </tr>
                            <tr>
                                <td>Sport</td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInSports}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInSports}" th:value="4" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInSports}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInSports}" th:value="2" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInSports}" th:value="1" required="required"/></td>
                            </tr>
                            <tr>
                                <td>Lokalsport</td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalSports}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalSports}" th:value="4" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalSports}" th:value="5" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalSports}" th:value="2" required="required"/></td>
                                <td class="radiobtn-td"><input class="rubrikRadios" type="radio" th:field="*{interestInLocalSports}" th:value="1" required="required"/></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--</p>-->

                <div class="checkbox">
                    <label >

                    </label>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label for="datasecure">
                                <input type="checkbox" id="datasecure" required="required" /> Ich stimme zu, dass meine Daten anonym verwendet werden.
                            </label>
                        </div>
                    </div>
                </div>

                <!--<p>-->
                    <!--<input type="checkbox" />&lt;!&ndash; Hier noch abfangen, wenn checkbox nicht abgehakt&ndash;&gt;-->
                <!--</p>-->
                <input type="hidden" th:field="*{origin}" th:value="${proband.getOrigin()}" />
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" class="btn btn-default" value="Weiter" />
                        <input type="reset" class="btn btn-default" value="Werte zurücksetzen" />
                    </div>
                </div>



            </div>
        </form>
    </div>

    <script type="text/javascript">

        var age = document.getElementById("inputAge");

        age.addEventListener("keyup", function (event) {
            if(age.validity.rangeUnderflow) {
                age.setCustomValidity("Bitte geben Sie ein gültiges Alter ein");
            } else if(age.validity.rangeOverflow) {
                age.setCustomValidity("Bitte geben Sie ein gültiges Alter ein");
            } else {
                age.setCustomValidity("");
            }
        });

        var postal = document.getElementById("inputPostalCode");

        postal.addEventListener("keyup", function (event) {
            if(postal.validity.patternMismatch) {
                postal.setCustomValidity("Bitte geben Sie eine gültige Postleitzahl ein");
            } else {
                postal.setCustomValidity("");
            }
        });

        var datasecure = document.getElementById("datasecure");

        datasecure.addEventListener("keyup", function (event) {
            if(datasecure.validity.valueMissing) {
                datasecure.setCustomValidity("Bitte akzeptieren Sie die Datenschutzbestimmungen");
            } else {
                datasecure.setCustomValidity("");
            }
        });
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>