<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ressorts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form action="#" th:action="@{/}" th:object="${proband}" method="post">
    <h1>Bitte beurteilen Sie folgende Aussagen:</h1>
    <p>Ich interessiere mich für Artikel aus dem Bereich ...</p>
    <p>
        <table>
            <tr>
                <td></td>
                <td>Trifft voll zu</td>
                <td>Trifft eher zu</td>
                <td>Neutral</td>
                <td>Trifft eher nicht zu</td>
                <td>Tifft gar nicht zu</td>

            </tr>
            <tr>
                <td>Politik</td>
                <td><input type="radio" th:field="*{interestInPolitics}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInPolitics}" th:value="4" /></td>
                <td><input type="radio" th:field="*{interestInPolitics}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInPolitics}" th:value="2" /></td>
                <td><input type="radio" th:field="*{interestInPolitics}" th:value="1" /></td>
            </tr>
            <tr>
                <td>Kultur</td>
                <td><input type="radio" th:field="*{interestInCulture}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInCulture}" th:value="4" /></td>
                <td><input type="radio" th:field="*{interestInCulture}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInCulture}" th:value="2" /></td>
                <td><input type="radio" th:field="*{interestInCulture}" th:value="1" /></td>
            </tr>
            <tr>
                <td>Lokales</td>
                <td><input type="radio" th:field="*{interestInLocalArticles}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInLocalArticles}" th:value="4" /></td>
                <td><input type="radio" th:field="*{interestInLocalArticles}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInLocalArticles}" th:value="2" /></td>
                <td><input type="radio" th:field="*{interestInLocalArticles}" th:value="1" /></td>
            </tr>
            <tr>
                <td>Sport</td>
                <td><input type="radio" th:field="*{interestInSports}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInSports}" th:value="4" /></td>
                <td><input type="radio" th:field="*{interestInSports}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInSports}" th:value="2" /></td>
                <td><input type="radio" th:field="*{interestInSports}" th:value="1" /></td>
            </tr>
            <tr>
                <td>Lokalsport</td>
                <td><input type="radio" th:field="*{interestInLocalSports}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInLocalSports}" th:value="4" /></td>
                <td><input type="radio" th:field="*{interestInLocalSports}" th:value="5" /></td>
                <td><input type="radio" th:field="*{interestInLocalSports}" th:value="2" /></td>
                <td><input type="radio" th:field="*{interestInLocalSports}" th:value="1" /></td>
            </tr>
        </table>
    </p>
    <p><input type="submit" value="Weiter" /></p>
</form>
</body>
</html>