<!DOCTYPE html>



<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!--<script src="/webjars/jquery/1.11.3/jquery.js"></script>-->


    <link href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />



    <title>Start eines neuen Experiments</title>

    <style>

        .uni img{
            float:left;
            width:393px;
            padding: 62px 0px 0px 0px;
            /*vertical-align:bottom;*/
            /*border:0;*/
        }

        .page-header{
            border-bottom:1px dashed;
            border-bottom-color: #FF7711;
        }

    </style>

    <title>Experiment erfolgreich</title>
</head>
<body>

<div class="container theme-showcase">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="">
                    <img src="images/uni-bielefeld.gif"/>
                </div>
            </div>
            <div class="uni col-sm-7 col-md-7 col-lg-7">
                <div class="uni">
                    <img src="images/claim.gif"/>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="">
                    <img src="images/citec.gif"/>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1>Herzlich Willkommen<br/>
                <small>Die Universität Bielefeld führt im Rahmen des <a href="https://www.cit-ec.de/de/content/kognihome">KogniHome</a> Projektes eine Studie durch, um das Verhalten von Zeitungslesern zu verstehen.</small>
            </h1>
        </div>
    </div>

    <div class="container col-sm-6 col-md-6 col-lg-6">
        <div class="container">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p>
                    Die Studie besteht aus zwei Teilen:
                </p>
                <p>
                    <br/>
                    1) Im ersten Teil sollen Sie Artikel überfliegen und angeben, ob Sie diese in einer Ausgabe der Neuen Westfälischen gerne lesen würden.
                </p>
                <p>
                    2) Im zweiten Teil sollen Sie ein paar wenige Artikel lesen und Rückmeldung zur Verständlichkeit geben.
                </p>
                <p>
                    <br/>
                    Ihre Angaben werden nur zu wissenschaftlichen Zwecken und anonym verwendet.
                </p>
                <p>
                    <br/>
                    Vielen Dank für ihre Teilnahme.
                </p>
                <p>
                    <br/>
                    Hier geht es zur Studie…
                </p>
                <div class="container">
                    <form class="form form-horizontal" action="#" th:action="@{/}" th:object="${proband}" method="post">
                        <input type="hidden" th:field="*{origin}" th:value="${proband.getOrigin()}" />
                        <div class="form-group">
                            <div>
                                <input type="submit" class="btn btn-default" value="Weiter" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <img src="https://www.galerie-am-dom.de/prdimages/Janosch__Zeitungsleser.jpg" class="img-responsive img-rounded" alt="Responsive image"/>
            </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</div>
</body>
</html>